CONFIG_TARGET_airoha=y
CONFIG_TARGET_airoha_an7581=y
CONFIG_TARGET_airoha_an7581_DEVICE_econet_xr1710g-ubi=y

# Extra packages from YYH2913 target.mk DEFAULT_PACKAGES
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-hw-eip93=y
CONFIG_PACKAGE_luci-proto-ipv6=y

# LuCI apps from patches/090-luci
CONFIG_PACKAGE_luci-app-airoha-npu=y
CONFIG_PACKAGE_luci-app-w1700k-fancontrol=y
CONFIG_PACKAGE_luci-app-airoha-flowsense=y
CONFIG_PACKAGE_luci-app-netspeedtest=y
